$light-theme-font: 'Helvetica Neue UltraLight';
$normal-theme-font: 'Helvetica Neue Light';
$bold-theme-font: 'Helvetica Neue Bold';
$condensed-bold-theme-font: 'Helvetica Neue Condensed Bold';
$condensed-extra-bold-theme-font: 'Helvetica Neue Condensed Black';

$light-italic-theme-font: 'Helvetica Neue UltraLight Italic';
$normal-italic-theme-font: 'Helvetica Neue Light Italic';
$bold-italic-theme-font: 'Helvetica Neue Bold Italic';
